@page
@model Lab6.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome!</h2>
    <h3>Predict "What will the Earth/Computer look like in 20 years?"</h3>
</div>